* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  background-color: lightblue;
  height: 80px;
}

.navigation {
  align-items: center;
  display: flex;
  padding-top: 10px;
  margin: auto;
  justify-content: space-around;
}

.logo h1 {
  color: white;
}

.menu-container button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.3rem;
}

.block-sez1 {
  padding: 40px;
  display: flex;
  margin: 20px;
  flex-direction: column;
  align-items: center;
  background-color: lightcyan;
  border-radius: 20px;
}

.cont-sez1 {background-color: white;}

.img {
  width: 200px;
  height: 200px;
  background-color: bisque;
  /* margin: 20px; */
  margin-bottom: 20px;
  /* padding: 20px; */
}

.description {
  /* padding: 20px; */
}
